@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=block');

:root {
  --dark-one: #111;
  --dark-two: #000;
  --light-one: #fff;
  --light-two: #dedede;
  --link-color: #fff;
  --basic-color: #0064ad;
  --premium-color: #941cbf;
  --padding-small: 1.6rem;
  --padding-medium: 3.2rem;
  --padding-large: 4rem;
  --body-font: Verdana, Arial, sans-serif;
  --heading-font: 'Concert One', sans-serif;
}

/* _Normalize */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

textarea {
  resize: vertical;
}

/* _Global */

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: var(--dark-one);
  color: var(--light-two);
  text-align: center;
}

body,
textarea,
input,
button {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: var(--body-font);
}

textarea,
input,
button,
p,
fieldset,
.select-slideshow,
.tos {
  margin-bottom: var(--padding-small);
}

/* _Interactive Global */

textarea,
input:not([type="radio"]):not([type="checkbox"]),
button {
  border-radius: .8rem;
  padding: .4rem 1.4rem;
}

textarea,
input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
  color: var(--light-one);
  background: var(--dark-two);
  outline: .2rem solid var(--basic-color);
  text-align: center;
}

.premium textarea,
.premium input:not([type="radio"]):not([type="checkbox"]) {
  outline-color: var(--premium-color);
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  outline: .2rem solid var(--basic-color);
}

input[type="radio"] {
  margin: .1rem .8rem 0 2.4rem;
  border: .3rem solid var(--dark-one);
  border-radius: 50%;
}

input[type="checkbox"] {
  outline: .2rem solid var(--basic-color);
  margin-top: .1rem;
  flex-shrink: 0;
  border-radius: .2rem;
  margin-right: var(--padding-small);
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
.radio label:hover
.checkbox label:hover {
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: var(--link-color);
}

input[type="checkbox"]:checked {
  background: url('/img/checkmark.png') no-repeat center center / 1.8rem;
}

textarea {
  height: 20rem;
}

fieldset {
  width: 100%;
}

.tos,
label:not(.small),
button[type="submit"] {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  text-transform: none;
}

label:not(.small) {
  margin-bottom: .8rem;
}

:focus,
button:hover {
  outline: .3rem solid var(--link-color) !important;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-color);
  color: var(--link-color);
}

button[type="submit"] {
  margin-top: var(--padding-small);
}

.premium button {
  background-color: var(--premium-color);
}

button svg,
button .svg-inline--fa {
  font-size: 2rem;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--link-color);
}

/* _Noninteractive Global */

ol,
ul {
  padding-left: var(--padding-large);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  line-height: 1;
  font-family: var(--heading-font);
  margin-bottom: var(--padding-medium);
  text-transform: uppercase;
  color: var(--light-two);
  font-weight: normal;
  letter-spacing: .01em;
}

h1 {
  font-size: 4.2rem;
}

h1 img {
  width: 100%;
  max-width: 26rem;
  margin: auto;
}

h2 {
  font-size: 3.8rem;
}

/* _Useful Classes */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.required {
  font-family: var(--body-font);
  font-size: 1.6rem;
  margin-left: .8rem;
}

.radio {
  align-items: flex-start;
}

.checkbox {
  flex-wrap: nowrap !important;
  text-align: left;
  margin-bottom: var(--padding-small);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}

/* _Layout */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.section {
  width: 100%;
  height: auto;
}

.section:nth-of-type(2n) {
  background: var(--dark-two);
}

.inner {
  /* max width of layout */
  width: 100%;
  max-width: 110rem;
  margin: auto;
}

.content {
  margin: 0 auto;
  padding: var(--padding-large) var(--padding-medium) calc(var(--padding-large) - var(--padding-small));
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.narrow {
  max-width: 60rem;
}

@media screen and (width <=767px) {
  .content {
    flex-direction: column;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }
}

/* _Slideshow Type */

.select-slideshow button {
  text-transform: none;
  width: 16rem;
  padding: 1.2rem .4rem var(--padding-small);
  margin: 0 var(--padding-small) var(--padding-medium) !important;
  position: relative;
}

.select-slideshow button[aria-checked="true"]::after {
  content: '';
  background: #000 url('/img/checkmark.png') no-repeat top .9rem center / 2rem;
  filter: invert(100);
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}

.select-slideshow .type {
  font-family: var(--heading-font);
  font-size: 3rem;
  letter-spacing: .01em;
  line-height: 1.3;
}

.select-slideshow .price {
  font-size: 1.8rem;
}

.select-slideshow .dollar {
  font-size: 2rem;
}

#select-basic {
  background-color: var(--basic-color);
}

#select-premium {
  background-color: var(--premium-color);
}

/* _Alerts and Errors */

/*p[role="alert"] {
  padding: var(--padding-small);
  transition: height .2s, opacity .2s, margin .2s, padding .2s;
  width: 100%;
}

p.error {
  background-color: #ffe8ec;
  color: #e36197;
}

p.alert {
  background-color: #bfe7fb;
  color: #09608b;
}

p.success {
  background-color: #b5f477;
  color: #235d24;
}

#alerts {
  margin-top: var(--nav-height);
  width: 100%;
}

#alerts .content {
  padding-top: 0;
  padding-bottom: 0;
}

#alerts p:first-of-type {
  margin-top: var(--padding-large);
}

#alerts p:last-of-type {
  margin-bottom: var(--padding-large);
}*/

/* _Gallery */

/*.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + .8rem);
  margin: -.4rem;
  padding: 0;
}

.gallery li {
  position: relative;
  width: calc(16.66% - .8rem);
  margin: .4rem;
  overflow: hidden;
  background-color: #eee;
}

.gallery li::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media screen and (width <=991px) {
  .gallery li {
    width: calc(25% - .8rem);
  }
}

@media screen and (width <=767px) {
  .gallery li {
    width: calc(33.33% - .8rem);
  }
}

@media screen and (width <=420px) {
  .gallery li {
    width: calc(50% - .8rem);
  }
}

.gallery li img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery li .actions {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  display: flex;
  padding: .8rem;
  align-items: space-between;
  background: transparent;
  z-index: 1;
}

.gallery a.edit.button {
  color: #fff;
  margin-right: 0;
}*/

/* _Media Library Prompt */

/*#media-library .prompt {
  width: 100%;
  height: 100%;
}

#media-library .prompt h1 {
  margin-bottom: 0;
}

#media-library .gallery-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 3.2rem 0;
  padding: 1.2rem;
  border: .1rem solid #eee;
  background: #F9F8F5;
}

#media-library .gallery {
  width: 100%;
  margin: 0 0 1.2rem;
  justify-content: center;
}

#media-library .gallery,
#media-library .loading-box {
  height: 100%;
  display: flex;
  align-items: center;
}

#media-library .loading {
  font-size: 8rem;
  display: flex;
}

a.selector {
  height: 100%;
  position: absolute;
  width: 100%;
}

a.selector:hover,
a.selector:focus,
a.selected {
  background-color: rgb(256 256 256 / 60%);
  cursor: pointer;
}

a.selector .button {
  position: absolute;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0;
  font-weight: bold;
}

a.selector:hover .button,
a.selector:focus .button,
a.selected .button {
  opacity: 1;
}*/
