@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=block');

:root {
  --dark-one: #111;
  --dark-two: #000;
  --light-one: #fff;
  --light-two: #dedede;
  --link-color: #fff;
  --basic-color: #0064ad;
  --basic-hover: #00477a;
  --premium-color: #941cbf;
  --premium-hover: #721593;
  --padding-small: 1.6rem;
  --padding-medium: 3.2rem;
  --padding-large: 4rem;
  --body-font: Verdana, Arial, sans-serif;
  --heading-font: 'Concert One', sans-serif;
}

/* _Normalize */

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

textarea {
  resize: vertical;
}

/* _Global */

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: var(--dark-one);
  color: var(--light-two);
  text-align: center;
}

body,
textarea,
input,
button {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: var(--body-font);
}

p:not(:last-child),
.main-label,
.sub-label {
  margin-bottom: var(--padding-small);
}

textarea:not(:last-child),
input,
fieldset,
button {
  margin-bottom: var(--padding-medium);
}

/* _Interactive Global */

textarea,
input:not([type="radio"]):not([type="checkbox"]),
button {
  border-radius: .8rem;
  padding: .4rem 1.4rem;
}

textarea,
input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
  color: var(--light-one);
  background: var(--dark-two);
  outline: .2rem solid var(--basic-color);
  text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  outline: .2rem solid var(--basic-color);
}

input[type="radio"] {
  margin: .1rem .8rem 0 2.4rem;
  border: .3rem solid var(--dark-one);
  border-radius: 50%;
}

input[type="checkbox"] {
  outline: .2rem solid var(--basic-color);
  margin-top: .1rem;
  flex-shrink: 0;
  border-radius: .2rem;
  margin-right: var(--padding-small);
}

.premium textarea,
.premium input:not([type="radio"]):not([type="checkbox"]),
.premium input[type="radio"],
.premium input[type="checkbox"] {
  outline-color: var(--premium-color);
}

input[type="radio"]:checked {
  background-color: var(--link-color);
}

input[type="checkbox"]:checked {
  background: url('/img/checkmark.png') no-repeat center center / 1.8rem;
}

textarea {
  height: 20rem;
}

:not(.checkbox) > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label:not(.small) .main-label,
button[type="submit"] {
  font-size: 2.4rem;
  font-family: var(--heading-font);
  letter-spacing: .01em;
  text-transform: none;
}

label:not(.small) .main-label {
  line-height: 1;
  margin-bottom: var(--padding-small);
  display: flex;
}

#secret-code {
  max-width: 13rem;
  margin-bottom: 3.2rem;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-color);
  color: var(--link-color);
}

.premium button {
  background-color: var(--premium-color);
}

button svg,
button .svg-inline--fa {
  font-size: 2rem;
}

a {
  color: var(--link-color);
}

button:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover,
.radio label:hover,
label[for="add-images"]:hover {
  cursor: pointer;
}

button:hover {
  background-color: var(--basic-hover);
}

.premium button:hover {
  background-color: var(--premium-hover);
}

:focus {
  outline: .3rem solid var(--link-color) !important;
}

/* _Noninteractive Global */

ol,
ul {
  padding-left: var(--padding-large);
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  line-height: 1;
  font-family: var(--heading-font);
  margin-bottom: var(--padding-medium);
  text-transform: uppercase;
  color: var(--light-two);
  font-weight: normal;
  letter-spacing: .01em;
}

h2 {
  text-transform: none;
}

h1 {
  font-size: 4.2rem;
}

h1 img {
  width: 100%;
  max-width: 26rem;
  margin: auto;
}

h2 {
  font-size: 3.8rem;
}

/* _Useful Classes */

.visually-hidden {
  overflow: hidden;
  height: 0;
  width: 0;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.required {
  font-family: var(--body-font);
  font-size: 1.6rem;
  margin-top: .2rem;
}

.tos .required {
  margin-top: .5rem;
}

.checkbox {
  text-align: left;
  flex-wrap: nowrap;
}

.checkbox:not(:last-child) {
  margin-bottom: var(--padding-small);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.loading {
  animation: spin 1s linear infinite;
}

.fullwidth {
  width: 100%;
}

/* _Layout */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.section {
  width: 100%;
  height: auto;
}

.section:nth-of-type(2n) {
  background: var(--dark-two);
}

.inner {
  /* max width of layout */
  width: 100%;
  max-width: 110rem;
  margin: auto;
}

.content {
  margin: 0 auto;
  padding: var(--padding-large) var(--padding-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 70rem;
  margin: auto;
}

.narrow {
  max-width: 60rem;
}

@media screen and (width <=767px) {
  .content {
    flex-direction: column;
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }
}

/* _Slideshow Type */

.slideshow-type {
  display: flex;
  justify-content: center;
}

.slideshow-type .radio {
  margin: 0 var(--padding-small);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slideshow-type label {
  text-transform: none;
  width: 16rem;
  padding: 1.2rem .4rem var(--padding-small);
  border-radius: .8rem;
  color: var(--link-color);
}

.slideshow-type .type {
  font-family: var(--heading-font);
  font-size: 3rem;
  letter-spacing: .01em;
  line-height: 1.3;
}

.slideshow-type .price {
  font-size: 1.8rem;
}

.slideshow-type .dollar {
  font-size: 2rem;
}

label[for="select-basic"] {
  background: var(--basic-color) !important;
}

label[for="select-basic"]:hover {
  background: var(--basic-hover) !important;
}

label[for="select-premium"] {
  background: var(--premium-color) !important;
}

label[for="select-premium"]:hover {
  background: var(--premium-hover) !important;
}

.slideshow-type input {
  margin: 1.6rem 0 0;
}

#select-basic {
  outline: .2rem solid var(--basic-color);
}

#select-premium {
  outline: .2rem solid var(--premium-color);
}

/* _Add Images Preview */

input[type="file"] {
  display: none;
}

#thumb-preview {
  padding: var(--padding-small);
  outline: .2rem solid var(--basic-color);
  border-radius: .8rem;
  margin-bottom: var(--padding-medium);
  width: 100%;
}

.premium #thumb-preview {
  outline: .2rem solid var(--premium-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -.4rem;
  width: calc(100% + .8rem);
}

.gallery-item {
  position: relative;
  margin: .4rem;
  width: calc(25% - .8rem);
}

.gallery-item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media screen and (width <=767px) {
  .gallery-item {
    width: calc(50% - .8rem);
  }
}

.gallery-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

label[for="add-images"] {
  width: 100%;
  height: 100%;
  outline: transparent;
  position: absolute;
  background: #222;
  justify-content: center;
  text-align: center;
  line-height: normal;
  font-size: 1.4rem;
  padding: 2rem;
}

label[for="add-images"]:focus {
  outline: none !important;
}

label[for="add-images"] img {
  width: 6rem;
  height: 6rem;
  position: relative;
  background: var(--basic-color);
  padding: 1rem;
  border-radius: .8rem;
  margin-bottom: var(--padding-small);
}

label[for="add-images"]:focus img {
  outline: .3rem solid var(--link-color);
}

label[for="add-images"]:hover img {
  background: var(--basic-hover);
}

.premium label[for="add-images"] img {
  background: var(--premium-color);
}

.premium label[for="add-images"]:hover img {
  background: var(--premium-hover);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 .4rem;
  min-width: 2.6rem;
  min-height: 2.6rem;
}

.delete img {
  width: 1.6rem;
  height: 1.6rem;
}

.move {
  position: absolute;
  top: calc(50% - 2.2rem);
  left: calc(50% - 2.2rem);
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
}

.move img {
  height: 3rem;
  object-fit: contain;
  left: -.2rem;
}

.thumb-action:focus {
  outline: none !important;
  box-shadow: 0 0 0 .3rem var(--link-color), 0 0 0 .6rem var(--dark-two);
}

/* _Alerts and Errors */

[role="alert"] {
  padding: var(--padding-small);
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: .8rem;
  text-align: left;
  margin-bottom: var(--padding-small);
}

[role="alert"] p {
  margin-bottom: 0;
}

[role="alert"] img {
  width: 3rem;
  height: 3rem;
  filter: invert(49%) sepia(16%) saturate(6710%) hue-rotate(319deg) brightness(79%) contrast(83%);
  margin-right: var(--padding-small);
}

.error {
  background-color: #ffcfd7;
  color: #be4d5f;
}

.alert {
  background-color: #bfe7fb;
}

.success {
  background-color: #b5f477;
}

/* Placeholder page */

.placeholder .content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeholder h1 img {
  max-width: 30rem;
}
